// В этом файле должны быть стили для БЭМ-блока container, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-выражений etc.

.container {
  $block-name:                &; // #{$block-name}__element

  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;

  outline: 3px dashed $color-main;
}
